.Leader {
  stroke-width: 0.5 !important;
  stroke: #454959;
  fill: none !important;
}

.Button {
  stroke-width: 0.25;
  stroke: #f9eac1;
  fill: #f9eac1;
}

.Ring {
  stroke-width: 0.5 !important;
  stroke: #454959 !important;
  fill: none !important;
}

.Label {
  stroke: none !important;
  stroke-width: 0.1 !important;
  font-size: 0.1 !important;
  fill: transparent !important;
}

.TouchStrip,
.TouchRing {
  stroke-width: 0.1 !important;
  stroke: #f9eac1 !important;
  fill: #454959 !important;
}
